* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.container {
  text-align: justify;
  background: #849d8f url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 10%;
  top: 0;
  z-index: 200;
  opacity: 0.86;
  background: #849d8f url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}

.header-first {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}

.header-title {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.header-first-list {
  display: flex;
  min-width: 400px;
  align-self: center;
  justify-content: flex-start;
}

.header-first-list li {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}

.header-first-list li:nth-child(2) {
  width: 170px;
}

.header-first-list li:hover {
  background: #fff;
  cursor: pointer;
  color: #000;
  border-radius: 15px;
  font-weight: bold;
}

.header-second {
  display: flex;
  min-width: 100px;
  justify-content: flex-end;
}

.header-button {
  display: flex;
  cursor: pointer;
  border: none;
  display: block;
  margin-right: 10px;
}

.header-button-search {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.header-button-search:hover {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-button-entrance {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 20px;
  border-radius: 20px;
  width: 93px;
  height: 33px;
  font-weight: bold;
  text-align: right;
  padding-right: 18px;
  color: #fff;
}

.header-button-entrance:hover {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/entrance-black.svg");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 20px;
  color: #000;
}

.header-button-basket {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  width: 93px;
  height: 33px;
  border-radius: 20px;
  font-weight: bold;
  text-align: right;
  padding-right: 18px;
  color: #fff;
}

.main {
  padding-top: 100px;
}

.main-banner {
  background: url("http://pngimg.com/uploads/hippo/hippo_PNG16.png"), url("../img/bg.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, fixed;
  background-size: contain, cover;
  background-position: 20%;
  height: 500px;
  text-align: center;
  margin-bottom: 50px;
  margin: 0 auto;
  color: #fff;
  z-index: 100;
  position: relative;
}

.main-products-comments {
  padding: 0 10%;s
}

.main-banner::after {
  content: "При покупке двух слонов, вы получаете одного бегемота совершенно бесплатно!!!";
  color: red;
  font-weight: bold;
  font-size: 20px;
  display: block;
  height: 100px;
  width: 300px;
  position: absolute;
  right: 20%;
  top: 300px;
  text-align: justify;
}

.main-banner::before {
  content: "";
  background: url("../img/akcia.png") no-repeat;
  background-size: 400px;
  transform: rotate(-30deg);
  display: block;
  height: 400px;
  width: 400px;
  position: absolute;
  right: 15%;
  top: 50px;
  z-index: 0;
  opacity: 0.7;
}

.banner-button {
  height: 50px;
  width: 300px;
  font-size: 20px;
  right: 20%;
  top: 380px;

}

.main-title {
  margin-bottom: 50px;
}

.thin {
  font-weight: 100;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  position: absolute;
  height: 300px;
  width: 300px;
  border: dashed 5px #fff;
  border-radius: 50%;
  margin-bottom: 100px;
  left: 10px;
  bottom: -90px;
}

.product-item-hit::before {
  content: "";
  background: url("../img/hit.png") no-repeat;
  background-size: 80px, 80px;
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
}

.product-item-new::before {
  content: "";
  background: url("../img/new.png") no-repeat;
  background-size: 80px, 80px;
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
}

.product-item-frame {
  position: relative;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background: #849d8f url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
  box-shadow: 10px 5px 30px 0px #333;
  margin-bottom: 50px;
}

.product-title {
  position: absolute;
  display: block;
  text-align: center;
  width: 250px;
  bottom: 10px;
  left: 20px;
  border-radius: 18px;
}

.product-hover-menu {
  display: none;
  position: absolute;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  left: -15px;
  top: -15px;
  background: rgba(255, 255, 255, 0.2);
}

.button {
  border-radius: 20px;
  position: absolute;
  background: linear-gradient(#ff1a1a 0%, #ff3333 100%);
  box-shadow: 0px 2px 2px 0px #333;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.button:hover {
  background: linear-gradient(#ff1a1a 0%, #ff3333 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  background: linear-gradient(#ff3333 0%, #ff1a1a 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.product-hover-button {
  height: 40px;
  width: 200px;
  bottom: -20px;
  left: 60px;
}

.product-item-hit-first {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18788.png") no-repeat;
  background-size: 300px;
}

.product-item-hit-second {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18801.png") no-repeat;
  background-size: 300px;
}

.product-item-hit-third {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18787.png") no-repeat;
  background-size: 300px;
}

.product-item-hit-forth {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18786.png") no-repeat;
  background-size: 300px;
}

.product-item-new-first {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18767.png") no-repeat;
  background-size: 300px;
}

.product-item-new-second {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18760.png") no-repeat;
  background-size: 300px;
}

.product-item-new-third {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18754.png") no-repeat;
  background-size: 300px;
}

.product-item-new-forth {
  background: url("http://pngimg.com/uploads/elephants/elephants_PNG18756.png") no-repeat;
  background-size: 300px;
}

.product-item:hover .product-hover-menu{
  display: block;
}

.comments {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.comments-frame {
  background: #849d8f url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
  box-shadow: 10px 5px 30px 0px #333;
  padding: 5px;
  border-radius: 18px;
  min-width: 700px;
}

@media (max-width: 480px) {
  .comment-frame {
    min-width: 400px;
  }
}

@media (max-width: 480px) {
  .product-item-hit::before {
    content: "";
    background-size: 40px, 40px;
    width: 40px;
    height: 40px;
  }
}

.comments-border {
  border: dashed 4px #fff;
  border-radius: 18px;
  padding: 10px;
}

.comments-spravka-border {
  border: dashed 4px #fff;
  border-radius: 18px;
  padding: 10px;
}

.comments-spravka-title {
  margin-bottom: 20px;
}

.comments-spravka-text h3 {
  margin-bottom: 20px;
  text-align: center;
}

.comments-spravka-header {
  text-align: right;
  margin-bottom: 20px;
}
.comments-spravka-text {
  position: relative;
  text-align: justify;
  margin-bottom: 45px;
}

.comments-title {
  text-align: center;
}

.comments-text {
  position: relative;
  display: flex;
  align-items: center;
}

.kolobok {
  background: url("../img/kolobok.png") no-repeat;
  background-size: 200px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 2px #fff;
  text-align: center;
  line-height: 400px;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.kolobok-comment {
  width: 300px;
  margin-left: 20px;
}

.spravka-button {
  height: 40px;
  width: 200px;
  right: 10px;
}

.comment-button {
  height: 40px;
  width: 200px;
  right: 10px;
  bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  height: 150px;
  align-items: center;
}

.footer-social {
  width: 300px;
}

.footer-social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-add-info {
  display: flex;
  flex-direction: column;
}

.social-button {
  height: 40px;
  width: 40px;
  display: block;
  opacity: 0.5;
  cursor: pointer;
}

.social-button:hover {
  opacity: 1;
}

.social-text {
  font-weight: bold;
}

.fb {
  background: url("../img/fb.svg") no-repeat center;
}

.tt {
  background: url("../img/twitter.svg") no-repeat center;
}

.vk {
  background: url("../img/vk.svg") no-repeat center;
}



.entrance-button-section{
  position: relative;
}

.entrance-button-section:hover .modal-login {
  display: block;
}

.modal-login:hover {
  display: block;
}

.modal-login {
    display: none;
}

.modal-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 277px;
    left: 0;
    top: 37px;
    z-index: 100;
}

.entrance-field-email {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 241px;
  height: 44px;
  margin: 10px 15px;
  padding: 10px 15px;
  font-size: 16px;
}

.entrance-field-password {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 240px;
  height: 44px;
  margin: 10px 15px;
  padding: 10px 15px;
  font-size: 16px;
}

.entrance-button {
  width: 102px;
  height: 30px;
}

.modal-login-links {
  text-decoration: underline;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.modal-login-links p{
  margin-bottom: 5px;
}

.button-and-link {
  padding-left: 150px;
}

.search-button {
  position: relative;
}

.search-button:hover .modal-search {
  display: block;
}

.modal-search:hover {
  display: block;
}

.modal-search {
  display: none;

}

.search {
  position: absolute;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 240px;
  height: 64px;
  z-index: 276;
  right: 0px;
}


.search-field {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px 15px;
  padding: 10px 15px;
  width: 210px;
  height: 44px;
  font-size: 16px;
}



